---
import BackToTop from './BackToTop.astro';

const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} Junyao Hu. All rights reserved.</p>
	<p>
		Powered by <a href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>
	</p>
</footer>
<BackToTop />
<style>
	footer {
		padding: 1.4em 1em 2.4em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0.2rem 0;
	}
	footer a {
		color: inherit;
		text-underline-offset: 0.15em;
	}
</style>
